PORT=5000

# Database Configuration
MONGO_URI=mongodb+srv://username:pass.mongodb.net/?appName=noovosoft

# Admin Credentials (used only for initial seed: npm run seed:admin)
ADMIN_USERNAME=admin@123
ADMIN_PASSWORD=YourSecurePassword123!

# JWT Secret (change this to a strong random string)
JWT_SECRET=change-this-to-a-strong-random-string
